.post {
    width: 100%;
    /*border: 2px solid red;*/
}

.title{
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5px;
    /*color: #1fa83f;*/
}

.author, .date {
    font-size: 13px;
}

.message {
    font-size: 17px;
}

i {
    color: #939393;
}